/* Special functionalities */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    background-color: #efefef;
}

@import url('./admin/dashboard.css');
@import url('./users/login.css');
@import url('./users/signup.css');
@import url('./users/homepage.css');
@import url('./users/navbar.css');
@import url('./users/profile.css');
@import url('./users/feedback.css');
@import url('./users/eventlist.css');
@import url('./users/ParkingPage.css');
@import url('./users/roomlistpage.css');
@import url('./users/roomviewpage.css');
@import url('./users/Package.css');

@import url('./users/orderfoodpage.css');

@import url('./users/eventviewpage.css');
@import url('./users/footer.css');


@import url('./admin/ManageEmployees.css');
@import url('./admin/ManageOrder_Foods.css');

@import url('./admin/manageroom.css');
@import url('./admin/managepackage.css');
@import url('./admin/manageEvent.css');
@import url('./admin/ManageParking.css');
@import url('./admin/ManageFeedback.css');





