/* MealOrderPage.css */

.order-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .manage-orders{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .order-container h1 {
    text-align: center;
    color: #333;
  }
  
  hr {
    border: 1px solid #ddd;
    margin: 20px 0;
  }
  
  .filter-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filter-bar button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .filter-bar button:hover {
    background-color: #45a049;
  }
  
  .meal-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .meal-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .meal-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .meal-details {
    padding: 15px;
  }
  
  .meal-details h2 {
    font-size: 1.5rem;
    margin: 0 0 10px;
  }
  
  .meal-details p {
    margin: 5px 0;
  }
  
  .order-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 57%;
  }
  
  .order-button:hover {
    background-color: #45a049;
  }
  
  .order-summary {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .order-summary h2 {
    font-size: 1.5rem;
    margin: 0 0 15px;
  }
  
  .order-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .remove-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .remove-button:hover {
    background-color: #e53935;
  }
  
  .customer-details {
    margin: 20px 0;
  }

.select-dropdown {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.select-dropdown:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.select-dropdown option {
  background-color: #fff;
  color: #333;
  padding: 10px;
}

  
  .input-field {
    width: calc(50% - 10px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .input-field:last-of-type {
    margin-right: 0;
  }
  
  .place-order-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
  }
  
  .place-order-button:hover {
    background-color: #45a049;
  }
  